#container { 
    background-color: #f5f4ef;
    padding: 50px 0;
    .main_cont1 { 
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        .center { 
            width: 87%;
            display: flex;
            justify-content: space-between;
            .left { 
                width: 50%;
                overflow: hidden;
                position: relative;
                .view { 
                    display: flex;
                    width: 100%;
                    .box{ 
                        width: 100%;
                        position: absolute;
                            left: 0;
                            top: 0;
                            transition: all 0.5s;

                        img { 
                            width: 100%;
                            height: 800px;
                            
                        }
                    }
                }
                .circlebtn { 
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 50px;
                    display: flex;
                    z-index: 80;
                    .cir { 
                        border-radius: 50%;
                        width: 4px;
                        height: 4px;
                        background-color: #fff;
                        margin: 0 3px;
                    }
                    .cir.on { 
                        background-color: #777;
                    }
                }
            }
            .right { 
                width: 45%;
                height: 800px;
                .title { 
                    font-size: 45px;
                    line-height: 53px;
                    margin-bottom:20px ;
                    font-weight: normal;
                }
                .sub_title { 
                    font-size: 15px;
                    margin-bottom: 635px;
                }
                .more { 
                    display: block;
                    text-align: right;
                    padding-right: 45px;
                    font-size: 15px;
                    color: #222;
                    font-weight: bold;
                    >span { 
                        font-size: 18px;
                        position: relative;
                        top: 4px;
                        left: 5px;
                        transition: all 0.5s;
                    }
                    &:hover { 
                        >span { 
                            left: 13px;
                        }
                    }
                }
            }
        }
    }
    .main_cont2 { 
        padding-bottom: 100px;
        .center { 
            .left { 
                .view { 
                    width: 100%;  
                }
            }
            .right { 
                position: relative;
                height: 800px;
                .botWrap { 
                    position: absolute;
                    bottom: 20px;
                    right: 25px;
                    width: 60%;
                    .sub_title { 
                        line-height: 25px;
                        margin: 0;
                    }
                    .more { 
                        display: block;
                        text-align: left;
                        padding-right: 45px;
                        font-size: 15px;
                        color: #222;
                        font-weight: bold;
                        margin-top: 15px;
                        >span { 
                            font-size: 18px;
                            position: relative;
                            top: 4px;
                            left: 5px;
                            transition: all 0.5s;
                        }
                        &:hover { 
                            >span { 
                                left: 13px;
                            }
                        }
                    }
                }
               
            }
        }
    }
    .main_cont3 {
        display: flex;
        justify-content: end; 
        padding: 150px 0 100px;
          .center { 
            width: 85%;
            .title { 
                font-size: 40px;
                margin-bottom: 40px;
            }
            .slider { 
                width: 100%;
                border-bottom: 2px solid #ccc;
                margin-bottom: 60px;
                padding-bottom: 60px;
                position: relative;
                box-sizing: border-box;
                overflow: hidden;
                    &:hover { 
                        .clickbtn { 
                            .prev_btn { margin-left: 0;}
                            .next_btn {margin-right: 0; }
                        }
                    }
                
                .clickbtn { 
                    >div {
                        transition: all 0.5s;
                        cursor: pointer;
                        >span { 
                            width: 45px;
                            line-height: 45px;
                            color: #fff;
                            display: block;
                            text-align: center;
                            background-color: rgba(0, 0, 0,0.5);
                        }
                    }
                    .prev_btn {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        margin-left:-45px;
                    }
                    .next_btn { 
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);         
                        right: 0;
                        margin-right: -45px;
                    }
                }
                .view {
                    display: flex;
                    justify-content: space-between;
                    width: 150%;
                    .box { 
                        width: 16.666666%;
                        padding: 0 2%;
                        display:flex;
                        flex-direction: column;
                        justify-content:flex-end;
                        align-items: center;
                        >img { 
                            width: 55%;
                            margin-bottom:30px;
                        }
                        .product1 { 
                            width: 45%;
                        }
                        .product2 {
                            width:42%;
                        }
                        .product3 { 
                            width: 70%;
                        }
                        >p { 
                            text-align: center;
                            font-size: 14px;
                            line-height: 20px;
                        }
                        .prd_name {
                            font-weight: bold;
                        }
                    }
                }
            }
            .bot_wrap { 
                display: flex;
                justify-content: space-between;
                margin-right: 100px;
                .cont3_context { 
                    font-size: 15px;
                    line-height: 25px;
                }
                .more { 
                    display: block;
                    text-align: right;
                    padding-right: 45px;
                    font-size: 15px;
                    color: #222;
                    font-weight: bold;
                    >span { 
                        font-size: 18px;
                        position: relative;
                        top: 4px;
                        left: 5px;
                        transition: all 0.5s;
                    }
                    &:hover { 
                        >span { 
                            left: 13px;
                        }
                    }
                }
            }
          }
    }
    .main_cont4 { 
        .boxWrap { 
            display: flex;
            .left { 
                width: 50%;
                height: 100vh;
                >img { 
                    width: 100%;
                    height: 100%;
                }
            }
            .right { 
                background-color: #eeede5;
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                .textWrap { 
                    width: 70%;
                    text-align: center;
                    >h4 { 
                        font-size: 45px;
                        margin-bottom: 30px;
                    }
                    .context { 
                        font-size: 15px;
                        line-height: 25px;
                        margin-bottom: 40px;
                        color: #555;
                    }
                    .name { 
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .main_cont5 { 
        .center {
            .m5slider { 
                padding-bottom: 50px;
                >.clickbtn { 
                    .next_btn {     
                        right: 0;
                        margin-right: -45px;
                    }
                }
                .m5_view { 
                    width: 133.5%;
                    height: 100%;
                    .m5_box { 
                        width: 25%;
                        height: 660px;
                        padding: 0;
                        .contentwrap { 
                            width: 97%;
                            height: 100%;
                            margin: 0 auto;
                            background-color: #eeede5;
                            padding-bottom: 20px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            >img { 
                                width: 120px;
                                height:340px ;
                                margin-top: 150px;
                            }
                            .prd_name { 
                                margin: 50px 0 20px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
    .main_cont6 { 
        padding-top: 150px; 
    }
}