@media screen and (max-width:1200px)
{
    #container { 
        >.m_center { 
            margin-top: 0;
            width:90%;
            .menu { 
                margin: 50px auto 100px;
                display: flex;
                width: 50%;
        }
            .m_cont1 { 
                width: 100%;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                .address { 
                    width: 40%;
                   
                }
                .listwrap {
                    width: 60% ;
                    .listbox { 
                        width: 208px;
                        .prd_img { 
                            width: 208px;
                            height:208px;
                            >img { 
                                width: 83px;
                                height: 113px;
                            }
                        }
                     
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width:930px)
{
    #container { 
        >.m_center { 
            width:90%;
            .menu { 
                margin: 50px auto 100px;
                display: flex;
                width: 50%;
            }   
            .m_cont1 { 
                width: 100%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .address { 
                    width: 100%;
                    margin-bottom: 25px;
                }
                .listwrap {
                    width: 100% ;
                    display: block;
                    .listbox { 
                        width: 100%;
                        height: 900px;
                        margin-bottom: 80px;
                        .prd_img { 
                            width: 100%;
                            height:850px;
                            >img { 
                                width: 340px;
                                height: 462px;
                            }
                        }
                     
                    }
                }
            }
        }
    }
}
@media screen and (max-width:540px)
{
    #container { 
        >.m_center {
            .menu { 
                width: 50%;   
                > li { 
                    >span { 
                        padding: 0 10px;
                    }
                    }
            }   
            .m_cont1 { 
                .listwrap {
                    .listbox { 
                        height: 580px;
                        .prd_img { 
                            width: 100%;
                            height:485px;
                            >img { 
                                width: 195px;
                                height: 295px;
                            }
                        }
                     
                    }
                }
            }
        }
    }
}
@media screen and (max-width:390px)
{
    #container { 
        >.m_center {
            width: 90%;
            .menu { 
                width: 70%;
                >li { 
                    span { 
                        padding: 0 5px;
                    }
                }   
            }   
            .m_cont1 { 
                .listwrap {
                    .listbox { 
                        height: 580px;
                        .prd_img { 
                            width: 100%;
                            height:485px;
                            >img { 
                                width: 195px;
                                height: 295px;
                            }
                        }
                     
                    }
                }
            }
        }
    }
}