@media screen and (max-width:1200px)
{
    #container { 
        .center{
            .list { 
                .linewrap { 
                    .line {
                        width: 210px;
                        >div { 
                            width: 100%;
                        }
                    }
                    
                   
                }
            }
        }
    }
}

@media screen and (max-width:930px)
{
    #container { 
        .center{
            width: 90%;
            .list { 
                margin: 30px 0;
                .linewrap { 
                    flex-direction: column;
                    .line {
                        width: 215px;
                        margin-bottom: 35px;
                        >div { 
                            width: 100%;
                        }
                    }
                    .rightwrap  { 
                        display: block;
                    }
                } 
                .storeContext { 
                    width: 100%;
                    margin: 50px 0 100px;
                    font-size: 15px;
                    line-height: 28px;
                    padding-left: 0%;
                }  
            }
        }
    }
}


