<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>brand</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include ("common/header.ejs")%>
    <div id="container">
        <div class="br_cont1">
            <h2>Brand Story</h2>
            <div class="bs_info">
                <p class="top_t">한국의 전통과 현대의 기술/ 미학을 결합하여<br>
                    동시대적 아름다움을 선사하는 모던 한방 화장품 
                </p>
                <p class="bot_t">
                    불면의 밤을 위한 처방, 한 잔의 한방차가 피부에 놀라운 변화를 선사했고, 이스라이브러리의 시작이 되었습니다.
                </p>
            </div>
        </div>
        <div class="br_cont2">
            <img src="/img/brcont2.jpg">
        </div>
        <div class="main_cont1 br_cont3">
            <div class="center">
                <div class="slider left">
                    <div class="view">
                        <div class="box">
                            <img src="/img/brand3.jpg">
                        </div>
                    </div>
                </div>
                <div class="right">
                    <h2 class="title">한방차로부터 맑은 피부 변화를 경험, 코어성분을 발견했습니다.</h2>
                    <p class="sub_title">세상 모든 아름다운 것들이 그러하듯, 이스라이브러리는 매우 우연하고 개인적인 경험으로부터 시작됩니다. 불면증이 심해서 한방차를 처방받았고, 그 한방차를 마시고 나서 피부가 좋아졌다는 말을 많이 들었습니다. 과학적으로 분석해 낸 결과 홍삼, 녹용 숙지황 등이 섞인 한방 레시피에서 피부에 강력한 미백과 항산화 효과가 있다는 것을 발견했습니다. 그 성분이 바로 이스라이브러리의 시작인 Face Reactor입니다.</p>
                    <a class="more" href="#">이스라이브러리 코어성분<span class="material-symbols-outlined"> east</span></a>
                </div>
            </div>
        </div>
        <div class="main_cont1 br_cont4">
            <div class="center">
                <div class="right">
                    <h2 class="title">Design Philosophy</h2>
                    <p class="sub_title">한국 전통 책, 특히 한의학 책은 굉장히 얇은 종이로 만들어 집니다. 하드커버가 아니라서 세로로 세울 수 없고 가로로 뉘어 보관하며 종이가 날아가지 않도록 돌과 같은 문진을 얹혀둡니다. 마치 탑과 같은 인상을 만들어내는 책과 본질을 상징하는 돌 모양의 뚜껑을 통해 한국적인 아름다움을 표현합니다. 이스라이브러리의 제품 디자인은 한의학과 한국 전통의 이미지를 가장 잘 표현하기 위해 실질적인 형태와 전통의 이미지에 기반하였습니다.</p>
                </div>
                <div class="slider left">
                    <div class="view">
                        <div class="box">
                            <img src="/img/brand4.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="br_cont5">
            <div class="cdWrap">
                <div class="dir_box box">
                    <h3>Creative Director</h3>
                    <p class="context">“ 불면의 밤을 위한 처방, 한 잔의 한방차가 피부에 놀라운 변화를 선사했고, 이후 우리는 한의학에 축적된 인간과 자연 그리고 치료의 기록에 경도되었습니다. 유구한 기록은 모두 건강으로 수렴되고 그것은 필연적으로 아름다움으로 이어지고 있었습니다. ”</p>
                    <p class="name">Teo Yang <br> Space Designer</p>
                </div>
                <div class="doc_box box">
                    <h3>Doctor</h3>
                    <p class="context">“EATH library 전 제품에 포함된 코어 성분, Face Reactor는 강력한 화이트닝 효과로 피부의 색을 밝혀주고 투명도를 높여주며, 비옥한 윤기를 되찾아 줍니다. 이러한 Face Reactor를 피부 깊숙이 이르게 하는 EATH library만의 테크놀로지는 특허로 보호 받고 있습니다.”</p>
                    <p class="name">Dong Hoon Jang<br>Korean Medicine Doctor</p>
                </div>
            </div>
        </div>
        <div class="main_cont3 main_cont5 br_cont6">
            <div class="center">
                <div class="slider">
                    <div class="line"></div>
                    <div class="clickbtn">
                        <div class="prev_btn"><span class="material-symbols-outlined">
                            arrow_back_ios
                            </span></div>
                        <div class="next_btn"><span class="material-symbols-outlined">
                            arrow_forward_ios
                            </span></div>
                    </div>
                    <div class="view views">
                        <div class="box b_box">
                            <img src="/img/brand6.jpg">
                        </div>
                        <div class="box b_box">
                            <img src="/img/brand6-1.jpg">
                        </div>
                        <div class="box b_box">
                            <img src="/img/brand6-3.jpg">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="slogan">
            Evolutionary, Achievement from Traditional Heritage
        </div>
    </div>
    <%- include ("common/footer.ejs")%>
    <script src="/js/brand_slide.js"></script>
    
</body>
</html>