<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>
    <!-- https://eathlibrary.com/brand.html -->
    <%- include ("common/header.ejs")%>
    <div id="container">
        <div class="main_cont1">
            <div class="center">
                <div class="slider left">
                    <div class="view">
                        <div class="box s_box">
                            <img src="/img/main1.jpg">
                        </div>
                        <div class="box s_box">
                            <img src="/img/main1-2.jpg">
                        </div>
                        <div class="box s_box">
                            <img src="/img/main1-3.jpg">
                        </div>
                    </div>
                    <div class="circlebtn">
                        <div class="cir on"></div>
                        <div class="cir"></div>
                        <div class="cir"></div>
                    </div>
                </div>
                <div class="right">
                    <h2 class="title" data-aos="fade-down" data-aos-delay="100"  data-aos-duration="2000">Moonlight<br>Garden</h2>
                    <p class="sub_title" data-aos="fade-down" data-aos-delay="100"  data-aos-duration="2000">자연이 충만한 숲 속 정원의 잔상을 경험하세요</p>
                    <a class="more" href="#" data-aos="fade-up" data-aos-delay="100"  data-aos-duration="2000">제품을 경험해보세요<span class="material-symbols-outlined"> east</span></a>
                </div>
            </div>
        </div>
        <div class="main_cont1 main_cont2">
            <div class="center">
                <div class="left">
                    <div class="view">
                        <div class="box">
                            <img src="/img/main2.jpg">
                        </div>
                    </div>
                </div>
                <div class="right">
                    <h2 class="title" data-aos="fade-down" data-aos-delay="100"  data-aos-duration="2000">Special Discount<br>Up to 20%</h2>
                    <div class="botWrap">
                        <p class="sub_title"  data-aos="fade-up" data-aos-delay="100"  data-aos-duration="2000">여러 소중한 사람들에게 마음을 선물할 수 있도록 대량 구매 할인 혜택을 제공하고 있습니다</p>
                        <a class="more" href="#" data-aos="fade-up" data-aos-delay="100"  data-aos-duration="2000">대량구매 신청하기<span class="material-symbols-outlined">east</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_cont3">
            <div class="center">
                <h2 class="title" data-aos="fade-down" data-aos-delay="100"  data-aos-duration="2000">Skincare</h2>
                <div class="slider">
                    <div class="clickbtn">
                        <div class="prev_btn"><span class="material-symbols-outlined">
                            arrow_back_ios
                            </span></div>
                        <div class="next_btn"><span class="material-symbols-outlined">
                            arrow_forward_ios
                            </span></div>
                    </div>
                    <div class="view m3_view">
                        <div class="box m3_box">
                            <img class="product1" src="/img/main3-1.png">
                            <p class="prd_name">The Pure Wonder</p>
                            <p class="prd_kind">Active Serum</p>
                        </div>
                        <div class="box m3_box">
                            <img class="product2" src="/img/main3-2.png">
                            <p class="prd_name">All Day Radiance</p>
                            <p class="prd_kind">Light concentration Cream</p>
                        </div>
                        <div class="box m3_box">
                            <img class="product3" src="/img/main3-3.png">
                            <p class="prd_name">The Bright Recovery</p>
                            <p class="prd_kind">Brightening Overnight Mask</p>
                        </div>
                        <div class="box m3_box">
                            <img class="product4" src="/img/main3-4.png">
                            <p class="prd_name">Wise Awakening</p>
                            <p class="prd_kind">Advanced Nourishing Toner</p>
                        </div>
                        <div class="box m3_box">
                            <img class="product1" src="/img/main3-1.png">
                            <p class="prd_name">Smooth Operator</p>
                            <p class="prd_kind">Purifying Cleanser Gel</p>
                        </div>
                        <div class="box m3_box">
                            <img class="product3" src="/img/main3-3.png">
                            <p class="prd_name">Smooth Operator</p>
                            <p class="prd_kind">Purifying Cleanser Gel</p>
                        </div>
                    </div>
                </div>
                <div class="bot_wrap">
                    <p class="cont3_context">전통 한의학을 기반으로 최고의 천연 성분과 최신 기술을 <br>
                        접목시켜 탄생한 스킨케어 제품을 만나보세요.
                    </p>
                    <a class="more" href="/menu/facial">모든제품<span class="material-symbols-outlined">east</span></a>
                </div>
            </div>
        </div>
        <div class="main_cont4">
            <div class="boxWrap">
                <div class="left"><img src=/img/main4.jpg></div>
                <div class="right">
                    <div class="textWrap">
                        <h4 class="title" data-aos="fade-down" data-aos-delay="100"  data-aos-duration="2000">Texhnology</h4>
                        <p class="context" data-aos="fade-up" data-aos-delay="100"  data-aos-duration="2000">"마시기만 해도 피부가 좋아지는 성분들을 진피층에 직접 도달하게 한다면 얼마나 <br>
                            큰 효과를 낼 수 있을까요. 한방 차를 마시고 난 후 찾아온 피부의 드라마틱한 변화,<br>
                            Face Reactor 는 최신 기술의 결합을 통한 최고의 발견이라 생각됩니다.""
                        </p>
                        <p class="name" data-aos="fade-up" data-aos-delay="100"  data-aos-duration="2000">한의사 장동훈</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_cont3 main_cont5">
            <div class="center">
                <h2 class="title" data-aos="fade-down" data-aos-delay="100"  data-aos-duration="2000">Lifestyle</h2>
                <div class="slider m5slider">
                    <div class="clickbtn">
                        <div class="prev_btn m5_prev"><span class="material-symbols-outlined">
                            arrow_back_ios
                            </span></div>
                        <div class="next_btn m5_next"><span class="material-symbols-outlined">
                            arrow_forward_ios
                            </span></div>
                    </div>
                    <div class="view m3_view m5_view">
                        <div class="box m5_box">
                            <div class="contentwrap">
                                <img src="/img/main5-1.png">
                                <p class="prd_name">The Bright Recovery</p>
                                <p class="prd_kind">Brightening Overnight Mask</p>
                            </div>
                        </div>
                        <div class="box m5_box">
                            <div class="contentwrap">
                                <img src="/img/main5-2.png">
                                <p class="prd_name">Wise Awakening</p>
                                <p class="prd_kind">Advanced Nourishing Toner</p>
                            </div>
                        </div>
                        <div class="box m5_box">
                            <div class="contentwrap">
                                <img src="/img/main5-3.png">
                                <p class="prd_name">Smooth Operator</p>
                                <p class="prd_kind">Purifying Cleanser Gel</p>
                            </div>
                        </div>
                        <div class="box m5_box">
                            <div class="contentwrap">
                                <img src="/img/main5-2.png">
                                <p class="prd_name">Smooth Operator</p>
                                <p class="prd_kind">Purifying Cleanser Gel</p>
                            </div>
 
                        </div>
                    </div>
                </div>
                <div class="bot_wrap">
                    <p class="cont3_context">동향의 정취와 오래된 시간들에 영감을 받아 제조된 세 가지 룸스피레이는 <br>
                        공간에 특별함을 더해줍니다.
                    </p>
                    <a class="more" href="/menu/life">모든제품<span class="material-symbols-outlined">east</span></a>
                </div>
            </div>
        </div>
        <div class="main_cont1 main_cont2 main_cont6">
            <div class="center">
                <div class="left">
                    <div class="view">
                        <div class="box">
                            <img src="/img/main6.jpg">
                        </div>
                    </div>
                </div>
                <div class="right ">
                    <h2 class="title" data-aos="fade-down" data-aos-delay="100"  data-aos-duration="2000">Archives of<br>Beauty</h2>
                    <div class="botWrap cont6bot">
                        <p class="sub_title" data-aos="fade-up" data-aos-delay="100"  data-aos-duration="2000">이스라이브러리는 본질적인 아름다움을 위한 고민을 지속해 왔습니다. 이를 바탕으로 하여 다양한 소비자를 위한 제품과 서비스를 제공합니다. 전통 한방과 최신 기술을 결합하여 근본적인 건강과 본질적인 아름다움을 향상 시키고자 하는 마음입니다.</p>
                        <a class="more" href="#" data-aos="fade-up" data-aos-delay="100"  data-aos-duration="2000">대량구매 신청하기<span class="material-symbols-outlined">east</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ("common/footer.ejs")%>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="/js/main1_slide.js"></script>
    <script src="/js/carousel1.js"></script>
    <script src="/js/carousel2.js"></script>
</body>
</html>