<div id="footer">
    <div class="center">
        <div class="left">
            <div class="top_info">
                <h6>02-723-7001</h6>
                <p>Mon to Fri : 11:00AM - 7:30PM</p>
                <p>Sat to Sun : 12:00PM - 7:30PM</p>
                <p>contact@eathlibrary.com</p>
            </div>
            <div class="bot_info">
                <p>주식회사 이스라이브러리</p>
                <p class="f_info">
                    <span>Owner: 장동훈</span><span>|</span>
                    <span>CPO: 장동훈(contact@eathlibrary.com)</span><span>|</span>
                    <span>Business License: 521-88-011-63</span><span>|</span>
                    <span>Online Biz: 2022-서울강남-03179</span><span>|</span>
                    <span>매장 주소: 06033 서울특별시 강남구 도산대로 17길 31 1층</span>
                </p>
            </div>
            <p class="copy">COPYRIGHT 2022 주식회사 이스라이브러리 ALL RIGHTS RESERVED.</p>
        </div>
        <div class="right">
            <ul class="event">
                <li>이벤트</li>
                <li>자주 묻는 질문</li>
                <li>개인정보처리방침</li>
                <li>이용약관</li>
                <li>가이드</li>
            </ul>
            <ul class="event">
                <li>Instagran</li>
                <li>Kakao</li>
                <li>Facebook</li>
            </ul>
        </div>
    </div>
</div>